@font-face {
    font-family: "agency-fb-regular";
    src: local("Agency FB"),
        url("agency-fb-regular.woff2") format("woff2"), 
        url("agency-fb-regular.woff") format("woff");
}
@font-face {
    font-family: "agency-fb-bold";
    src: url("agency-fb-bold.woff2") format("woff2"), 
        url("agency-fb-bold.woff") format("woff");
}