*, *::before, *::after {
  box-sizing: border-box;
}
body {
    font-family: "agency-fb-regular", sans-serif;
}
.a-loader-title {
    font-family: "agency-fb-regular";
}
#info {
    background-image: url("gui.png");
    background-size: contain;
    position: absolute;
    color: white;
    font-size: 1.07em;
    top: 10px;
    left: 10px;
    height: 190px;
    width: 326px;
}
#data {
    padding-left: 40px;
    padding-top: 0px;
}
.modal {
    container: modal / inline-size;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(auto-fit, 1fr);
}
.form > * {
    margin: 1cqh 1cqw;
}
#prompt {
    background: url("gui-uncut.png") no-repeat center center fixed;
    background-size: 100% 100%;
    color: white;
    height: min(100%, 30vh);
    width: min(100%, 55.6vh);
}
#teleport-coordinates {
    display: contents;
    font-size: min(6cqw, 7.5cqh);
}
#teleport-coordinates > * {
    margin-block: inherit;
    font-size: min(5.2cqw, 7.5cqh);
}
button {
    background-color: #26abe2;
    color: white;
    font-family: inherit;
    font-size: 100%;
    border: 1px solid #26abe2;
}
@container modal (min-width: 0px) {
    .modal > * {
        margin: 1cqh 10cqw;
    }
    .modal p {
        margin-block: 0;
    }
    .modal h2 {
        font-size: 1.5em;
        font-family: 'agency-fb-bold';
    }
    .modal button {
        float: right;
    }
    .modal input {
        background-color: #001d45;
        border: 1px solid #26abe2;
        color: white;
        font-family: inherit;
        font-size: 100%;
    }
    .modal button, .modal select, .modal input {
        height: fit-content;
    }
    #prompt > :not(.p) {
        font-size: min(7cqw, 7.5cqh);
    }
    #prompt > *:first-child {
        margin-top: 5cqh;
    }
    #prompt > *:last-child {
        margin-bottom: 5cqh;
    }
}
#route-box {
    background-image: url("gui2.png");
    background-size: 100% 100%;
    color: white;

    height: min(100%, 91.9vh);
    width: min(100%, 98vh);
}
#opt-select > * {
    display: inline-block;
}
select {
    color: white;
    background-color: #001d45;
    border: 1px solid #26abe2;
    font: inherit;
}
#canvas-et-data > * {
    display: inline-block;
}
.grid-2columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.centered {
    place-content: center;
}
.grid-3columns {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
#data-et-apply button {
    margin: 0.5rem 1rem;
}
@container modal (min-width: 0px) {
    #route-box * {
        font-size: min(4.8cqw, 3cqh);
    }
    #route-box > h2 {
        font-size: min(8.16cqw, 5.1cqh);
    }
    #route-box > *:first-child {
        margin-top: 5cqh;
    }
    #route-box > *:last-child {
        margin-bottom: 5cqh;
    }
    #route-box input, #route-box button {
        width: 80%;
    }
    #route-box .rapplic {
        height: fit-content;
        width: 85%;
    }
    #canvas-et-data {
        width: 80%;

        /* Two-column grid layout */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #canvas-et-data > * {
        margin: 1cqw;
    }
    .grid-3columns > * {
        padding: 0.5cqw;
    }
    #draw {
        width: 57cqw;
    }
}
.mmcanvas {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}
#map {
    display: none;
}
#map-contain {
    display: none;
    position: absolute;
    border: 1px solid #26abe2;
    width: 20vw;
    height: 20vw;
    left: 79%;
    top: 1%;
    background-image: url("nocardinal.png");
    background-size: contain;
}
