.a-loader-title {
    font-family: "agency-fb-regular";
}
#info {
    background-image: url("gui.png");
    background-size: contain;
    position: absolute;
    font-family: "agency-fb-regular", sans-serif;
    color: white;
    font-size: 1.07em;
    top: 10px;
    left: 10px;
    height: 190px;
    width: 326px;
}
#data {
    padding-left: 40px;
    padding-top: 0px;
}
p {
    padding: 20px 25px;
}
button {
    font-family: "agency-fb-regular", sans-serif;
    background-color: rgb(38,171,226);
    color: white;
}
#prompt {
    background-image: url("gui-uncut.png");
    background-size: contain;
    position: absolute;
    font-family: "agency-fb-regular", sans-serif;
    color: white;
    font-size: 1.05em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 190px;
    width: 352px;
    display: none;
}
#prompt-text {
    font-size: 1.55em;
}
#single {
    position: absolute;
    top: 65%;
    left: 20px;
    height: 15%;
    font-family: "agency-fb-regular", sans-serif;
    width: 60%;
    font-size: 1.35em;
    color: white;
    background-color: rgb(0,29,69);
    border: 1px solid rgb(38,171,226);
}
#single-go {
    position: absolute;
    top: 65%;
    left: 70%;
    height: 18%;
    width: 20%;
    font-size: 1.35em;
}
#route-box {
    background-image: url("gui2.png");
    display: none;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    font-family: "agency-fb-regular", sans-serif;
    color: white;
    font-size: 1.35em;
    top: 1vh;
    left: 400px;
    height: 95vh;    
    width: 46vw;
    padding-top: 30px;
    line-height: 0.8em;
}
#route-inputs {
    padding-left: 10%;
    text-align: left;
    border: none;
    width: 90%;
}
td {
    width: 5%;
    border: none;
}
.rinp {
    font-family: "agency-fb-regular", sans-serif;
    width: 60%;
    font-size: 1.35em;
    color: white;
    background-color: rgb(0,29,69);
    border: 1px solid rgb(38,171,226);
}
#arrow {
    display: none;
}
#plan {
    height: 2em;
    width: 100%;
    font-size: 1em;
    display: inline;
}
#progress {
    display: none;
}
#route-clear {
    height: 2em;
    width: 100%;
    font-size: 1em;
    display: none;
}
#draw {
    position: relative;
    transform: translateX(-40%);
    width: 20vw;
    height: 20vw;
    border: 1px solid rgb(38,171,226);
}
.progress-cell {
    width: 50%;
    height: 2em;
}
#text-et-button {
    padding-left: 10%;
    text-align: center;
    border: none;
    width: 90%;
}
#canvas-et-data {
    padding-left: 30%;
    top: -5%;
    text-align: center;
    border: none;
    width: 90%;
}
#canv-cell {
    width: 20vw;
    height: 20vw;
}
#subtable {
    width: 30vw;
    text-align: left;
    transform: translateX(-90%);
    vertical-align: top;
}
#data-et-apply {
    width: 150%;
}
#route-data {
    line-height: 1em;
    padding: 0px;
}
#opt-select {
    width: 90%;
}
#opt-text {
    text-align: center;
}
#opt-drop {
    width: 100%;
    height: 100%;
    font-family: "agency-fb-regular", sans-serif;
    color: white;
    background-color: rgb(0,29,69);
    border: 1px solid rgb(38,171,226);
    font-size: 1.35em;
}
.gy {
    display: none;
    position: absolute;
    top: 65%;
    left: 20px;
    height: 15%;
    font-family: "agency-fb-regular", sans-serif;
    width: 60%;
    font-size: 1.35em;
    color: white;
    background-color: rgb(0,29,69);
    border: 1px solid rgb(38,171,226);
}
#teleport-table {
    position: absolute;
    top: 13%;
    left: 3%;
    display: none;
}
.telinp {
    font-family: "agency-fb-regular", sans-serif;
    width: 100%;
    font-size: 1.35em;
    color: white;
    background-color: rgb(0,29,69);
    border: 1px solid rgb(38,171,226);
}
.posintro {
    width: 30%;
    font-size: 1.35em;
}
.posinp {
    width: 50%;
    transform: translateX(-20%);
}
#invinp {
    position: absolute;
    top: 53%;
    left: 25%;
    font-size: 1.2em;
    display: none;
}
.mmcanvas {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}
#map {
    display: none;
}
#map-contain {
    display: none;
    position: absolute;
    border: 1px solid rgb(38,171,226);
    width: 20vw;
    height: 20vw;
    left: 79%;
    top: 1%;
    background-image: url("nocardinal.png");
    background-size: contain;
}
#route-20-contain {
    display: none;
}
.rapplic {
    width: 125%;
    height: 2em;
    font-size: 1.35em;
}