body {
    font-family: "agency-fb-regular", sans-serif;
    padding-left: 0.5%;
}
:is(table, td, tr) {
    border: 1px solid;
}
p {
    width: 80%;
}
td.letter {
    width: 10%;
}
td.exp {
    width: 90%;
}
